<div class="container">
  <div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
      <h4 class="card-title mt-3 text-center">Welcome to Sign Up website</h4>
      <p class="text-center">I hope you are good</p>
    </article>
  </div>
</div>
